body {
  /* background: #000000; */
  background: #263238;
  /* background-image: url('./assets/spidey_background.jpg'); */
  /* opacity: 0.5; */
}

.app{
  font-family: 'Avenir', Helvitica, Arial, sans-serif;
  -webkit-font-smoothing = antialiasing;
  -moz-osx-font-smoothing = grayscale;
  text-align: center;
  color: white;
  font-weight:bold;
  font-size: 20px;
  margin-top: 60px;
}
